h2 {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0.5rem;
}
ul li.result {
  font-size: 0.5rem;
}

@media all and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  ul li.result {
    font-size: 0.75rem;
  }
}